.modal-container{
    height: 800px;
    /* background-color: rgba(2, 2, 2, 0.123); */
    background: url('https://images.unsplash.com/photo-1600840988002-de786474a069?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
    border-top: 1px solid rgba(105, 104, 104, 0.199);
}
.modal{
    background-color: white;
    border-radius: 5px;
    max-width: 100%;
    width: 800px;
    overflow: hidden;
    height: 600px;
}
.modal-header {
    color: #FF5733;
    padding-top: 15px;
    text-align: center;
    font-size: 2rem;
  }
  .modal-header h3 {
    margin-top: 0; 
  }
  .modal-content {
    padding: 0 20px;
  }
  .modal-content p{
      text-align: center;
      font-size: 1.5rem;
  }
  
  .modal-form div {
    margin: 15px 10px;
  }
  .modal-form label {
    display: block;
    margin-bottom: 5px;
  }
  
  .modal-form .form-input, textarea{
    padding: 8px;
    width: 100%; 
  }
  .btn{
      padding: 15px 50px;
      margin: 0 auto;
      background-color: #FF5733;
      border: 0;
      color: white;
      display: flex;
      border-radius: 20px;
      font-size: 1.1rem;
      font-weight: bold;
  }
  .btn:focus{
      outline: none;
  }
  .btn:hover{
      cursor: pointer;
      transform: translateY(3px);
      box-shadow: -5px 5px rgba(15, 15, 15, 0.075);
  }
  